<!DOCTYPE html>
<html>
<head>
  <title>ContactExchange</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<%= link_to "The Contact Exchange", '#', id: "logo" %>
			</div>
		</div>
	</header>

	<div class="container">
		<%= yield %>
	</div>

	<div class="container">
		<footer class="footer">
		  <small>
		     © 2014 
		  </small>
		  <nav class="pull-right">
		    <%= link_to "About",   '#' %>
		    <%= link_to "Contact", '#' %>
		    <%= link_to "Etc", '#' %>
		  </nav>
		</footer>
	</div>



</body>
</html>
